.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 16px;
}

.custom-btn {
  background-color: orange;
  border-color: orange;
}

.alert {
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item button {
  margin-left: 10px;
}
